<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque atque veritatis fugit, aperiam eaque
            praesentium sunt quidem obcaecati expedita quos asperiores est unde enim voluptatem quod ipsum. Est, nemo
            quos?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque atque veritatis fugit, aperiam eaque
            praesentium sunt quidem obcaecati expedita quos asperiores est unde enim voluptatem quod ipsum. Est, nemo
            quos?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque atque veritatis fugit, aperiam eaque
            praesentium sunt quidem obcaecati expedita quos asperiores est unde enim voluptatem quod ipsum. Est, nemo
            quos?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque atque veritatis fugit, aperiam eaque
            praesentium sunt quidem obcaecati expedita quos asperiores est unde enim voluptatem quod ipsum. Est, nemo
            quos?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
